

@import "../font/Arimo-Regular.ttf";
body{
    background: url("../img/background.png");
}
table{
    border:none;
    font-family: 'Arimo', sans-serif;
    background-color: #e3e3e3;
    margin: 0 auto;
}
 tr{
    text-align: center;
    text-transform: uppercase;
    color: rgba(72, 72, 72, 255);
    background-color: #f2f2f2;
     border:none;
     font-size: 13px;
}

 td{
     width: 277px;
     height: 69px;
     border:none;
 }
tfoot td {
    height: 110pt;
    width: 277px;

}
.h1{
    font-size: 22px;
    font-weight: bolder;
}

.fas, .far{
    font-size: 20px;
    color: rgba(132, 132, 132, 255);
    text-align: center;
}
.dollar{
    font-size: 50px;
    color: rgba(72, 72, 72, 255);
    text-align: left;
    font-weight: bold;
}
sup{
    font-size: 18px;
    font-weight: bold;
}

.per-month{
    font-size: 14px;
}

.green-bg{
    background-color: #89c331;
    color: white;
    font-weight: bold;
    font-size: 18px;

}
.red-bg{
    background-color: #f04a56;
    color: white;
    font-weight: bold;
    font-size: 22px;
}
.blue-bg{
background-color: #20807c;
    color: white;
    font-weight: bold;
    font-size: 18px;

}
.dark-bg{
    background-color: #484848;
    color: white;
    font-weight: bold;

}

.special{
    width: 310px;
    height: 69px;

}

tr:nth-child(even){
    background-color: #e3e3e3;
}
tr:nth-child(2){
    background-color:#fafafa;
}
tfoot .special{
    background-color: #dddddd;
}

.buy{
    width: 192px;
    height: 49px;
    padding: 18px 45px;
}

.buy:hover{
    opacity: 0.5;
}